*.pyc
*~
**/#*#
.*.swp
.nfs*
*.bam
*.bwa
*.fasta
*.fastq
*.fq
*.log
*.tar
*.rar
*.zip
*.dict
*.fai
*.ht2
*.idx
workdir/
/core.*
/db.ini
/aws-nih-sra-datastore-protected.cfg
/aws-nih-sra-datastore.cfg
/try_*
/google-*.json
/google_*.json
!/try_bam.sh
.idea/

# these should probably be moved to personal .git/info/exclude file
# they don't have to be project-wide
/out*
/tmp*
/local*
flycheck_*
